!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Farming"
      %meta{:content => content_for?(:description) ? yield(:description) : "Farming", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container.content960
    .container.content960
      = yield
    / ! end of #main
    %footer.clearfix.row-fluid
      .container.content960
        .span2.logo
          %h5
            Language
            %small |Tools
        .span10
          %ul.inline
            %li (c) 2012 XXX.com
            %li
              %a{:href => "#"}> Contact Us
              \&nbsp;&nbsp;|
            %li
              %a{:href => "#"}> Terms of Service
              \&nbsp;&nbsp;|
            %li
              %a{:href => "#"} Privacy